<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Bevestigen')"></head>
<body>
<ul id="menu">
    <li><a href="/">Genres</a></li>
    <li><a href="/mandje">Mandje</a></li>
    <li><a href="/klant">Klant</a></li>
</ul>
<H1>Bevestigen</H1>
<th:block th:if="${aantal} and ${klantVoorNaamFamilieNaam}">
    <span th:text="${aantal}"></span> film(s) voor <span th:text="${klantVoorNaamFamilieNaam}"></span>
    <form method="post" th:action="@{${'/klant/reserveren/'+ klantId}}">
    <button>Bevestigen</button>
    </form>

</th:block>

</body>
</html>