<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Genres')"></head>
<body>
<ul style="{display:inline;}">
    <li><a href="/">genres</a></li>
</ul>
<H1>Genres</H1>
<ul id="menu">
    <li th:each="genre:${genres}" th:object="${genre}">
        <a th:href="@{/{genreId} (genreId=*{genreId})}"><span th:text="*{genreNaam}"></span></a></li>
</ul>
<th:block th:if="${films} and ${genre}">
    <H2 th:text="${genre.genreNaam}"></H2>
    <th:block th:each="film:${films}" th:object="${film}">
        <a th:href="*{'/film/'+filmId}">
            <img th:src="@{*{'/images/'+filmId+'.jpg'}}" th:alt="*{filmTitel}">
        </a>
    </th:block>
</th:block>
<th:block th:if="not ${startGeenFout}">
    <th:block th:unless="${films} and ${genre}">
        <H1 class="faut">Film of genre bestaat niet (meer)</H1>
    </th:block>
</th:block>
</body>
</html>